{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Update Amount Of Payment</legend>
                {{ form|crispy }}
                
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update </button>
            </div>
            
        </form>
    </div>
{% endblock content %}