{% extends "accounts/base.html" %}
{% block content %}
    <div class="container">
        {% if appointments %}
            <a href="{% url 'receptionist-appointments-create' %}" class="btn btn-info">Create Appointment</a>
            <br />
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Status </th>
                    <th>Update</th>
                </tr>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{appointment.date}}</td>
                            <td>{{appointment.time}}</td>
                            <td>{{appointment.patient_name}}</td>
                            <td>{{appointment.consulting_doctor}}</td>
                            <td>{{appointment.status}} </td>
                            <td><a  href="{% url 'receptionist-appointments-update' appointment.pk %}" class="btn btn-warning">Update</a> </td>
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
            <h3>No appointments Yet!</h3>
        {% endif %}
    </div>
{% endblock content %}